<div class="Hero">
	{{!-- {{picture
		class="Hero__image"
		src:768="../../media/hero.jpg?as=768"
		src="../../media/hero.jpg?as=1280"
		src:1980="../../media/hero.jpg?as=1980"
		src:webp768="../../media/hero.jpg?as=webp768"
		src:webp="../../media/hero.jpg?as=webp1280"
		src:webp1980="../../media/hero.jpg?as=webp1980"
		alt="Hero image alt"}} --}}
</div>
