body {
	margin: 0;
	background-color: $bg;
	color: var(--text);
	font-family: 'Ubuntu', sans-serif;
}

h1:first-child {
	margin-top: 0;
}

h1:last-child {
	margin-bottom: 0;
}

h1 {
	font-size: 4rem;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.Section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	padding-left: 2rem;
	padding-right: 2rem;
}

img {
	border: 1px solid white;
}
